* {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  background-color: #333;
}

body .box {
  transition: 0.3s;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ddd;
  position: fixed;
  gap: 10px;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: start;
  width: 50px;
  height: max-content;
}

body .box.expanded {
  padding-left: 60px;
  border-radius: 40px;
  width: max-content;
}

body .box span {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-right: 10px;
  color: #fff;
}

canvas {
  background-color: #fff;
  border: none;
}

body .box .colorSelector {
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: max-content;
  height: max-content;
}

body .box .colorSelector span.colorInput {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: 0;
  border: none;
  background-color: attr(color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

body .box input.color {
  opacity: 0;
  top: 5px;
  left: 0;
  position: absolute;
  padding: 0;
  height: 30px;
  margin: 0;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

body .box .clean {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 1.4em;
  width: 30px;
  height: 30px;
}

body .box .clean:active {
  color: #333;
}

body .box .clean .colorTrash {
  margin: 5px;
  filter: invert(100%);
}

body .box .menu {
  transition: 0.3s;
  font-size: 1.7em;
  color: black;
  background-color: #ddd;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 50px;
  height: 100%;
}

body .box .menu .open {
  margin: 8px;
}

body .box .menu .close {
  display: none;
}

body .box.expanded .menu .close {
  display: inline-block;
  margin: 10px;
  filter: invert(100%);
}

body .box.expanded .menu .open {
  display: none;
}

body .box.expanded .menu {
  background-color: #df0000;
  color: #fff;
  border-radius: 40px;
}

body .box .help {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

body .about {
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

body .about.showed {
  display: flex;
}

body .about .close {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

body .about .github {
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 1.9em;
}

body .about .github img{
  filter: invert(29%) sepia(0%) saturate(6624%) hue-rotate(316deg) brightness(120%) contrast(107%);
}

body .about .github img:hover {
  filter: invert(14%) sepia(19%) saturate(0%) hue-rotate(10deg) brightness(95%) contrast(83%);
}

body .about .jfast {
  text-decoration: none;
  width: 60px;
  height: 60px;
}

body .about .jfast img {
  filter: invert(50%);
}

body .about p {
  max-width: 400px;
  color: #555;
  font-weight: lighter;
  text-align: center;
  margin: 20px;
}

@media (max-width: 530px){
  body .box {
    width: 50px;
    height: 50px;
    flex-flow: column;
  }

  body .box.expanded {
    padding: 60px 0 10px 0;
    width: 50px;
    height: max-content;
  }

  body .box input.pixels {
    transform: rotate(-90deg);
    margin: 60px 0;
  }

  body .box .menu{
    width: 100%;
    height: 50px;
  }
}