* {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size:1.1em;
}

.d-none {display: none !important;}

body {
	flex-flow: column;
	background-color: #f9f9f9;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body.dark-mode {background-color: #333;}

.calculator {
	z-index: 1;
	flex-shrink: 1;
	flex-grow: 1;
	display: grid;
	grid-auto-rows: minmax(min-content,1fr);
	grid-template-columns:repeat(4,80px);
	max-height: 560px; 
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

body.dark-mode .calculator {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);	
}

.darkMode {
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 320px !important;
	height: 40px !important;
	background-color: #666;
	color: #fff;
}

.darkMode img {
	filter: invert(100%);
	width: 25px;
	height: 25px;
}

.darkMode img[src="images/svg/sunny.svg"]{display: none;}

body.dark-mode .darkMode img[src="images/svg/sunny.svg"]{display: inline-block;}

body.dark-mode .darkMode img[src="images/svg/moon.svg"]{display: none;}

.text {
	cursor: default;
	font-size: 1.5em;
	border: none;
	outline:none;
	text-align:right;
	padding-right:20px;
	user-select:none;
}

body.dark-mode .calculator .text {
	background-color: #999;
	color: #fff;
}

.text:first-child {grid-column: 1 / span 4;}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	border: none;
	transition:0.1s;
	user-select:none;
	cursor:pointer;
	color:grey;
}

.buttons img {filter: invert(45%);}

body.dark-mode .calculator .buttons {
	background-color: #444;
	color: #fff;
}

.buttons:hover {background-color: lightgrey;}

body.dark-mode .calculator .buttons:hover {background-color: #333;}

.buttons:active {background-color: grey; }

body.dark-mode .calculator .buttons:active {background-color: #222;}

.buttons:nth-child(24) {grid-column: 3 / span 2;}

.calculator .buttons img {
	width: 50px;
	height: 50px;
}

body.dark-mode img {filter: invert(100%);}

body .about {
	padding: 20px;
	justify-content: center;
	top: 0;
	left: 0;
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
}

body .about p {
	text-align: center;
	color: #666;
	font-size: .8em;
}

body.dark-mode .about p {
	color: #fff;
}

body .about a[href="https://github.com/Josafast"] img{
	position: fixed;
	bottom: 15px;
	left: 15px;
	width: 40px;
	height: 40px;
	filter: invert(50%);
}

body .about a[href="https://github.com/Josafast/Calculator"] img{
	position: fixed;
	bottom: 15px;
	right: 20px;
	width: 30px;
	height: 30px;
	filter: invert(50%);
}

body.dark-mode .about a[href="https://github.com/Josafast"] img {filter: invert(100%);}

body.dark-mode .about a[href="https://github.com/Josafast/Calculator"] img {filter: invert(70%);}

body.dark-mode .about a[href="https://github.com/Josafast/Calculator"]:hover img {filter: invert(100%);}

body .about a[href="https://github.com/Josafast/Calculator"]:hover img {filter: invert(30%);}

body .about-button {display: none;}

@media (max-width: 460px){
	body .about-button img[src="images/svg/close.svg"]{display: none;}

	body .about.showed ~ .about-button{z-index: 4;} 

	body .about.showed ~ .about-button > img[src="images/svg/help-outline.svg"]{display: none;}

	body .about.showed ~ .about-button > img[src="images/svg/close.svg"]{display: inline-block;}

	body .about-button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		position: fixed;
		background-color: transparent;
		z-index: 2;
	}

	body .about.showed {
		gap: 5px;
		align-items: center;
		flex-flow: column;
		z-index: 3;
		background-color: rgba(255, 255, 255, 0.8);
	}

	body.dark-mode .about.showed {background-color: rgba(68, 68, 68, 0.8);}

	body .about a[href="https://github.com/Josafast"] img{
		order: 1;
		position: relative;
		bottom: auto;
		left: auto;
		width: 60px;
		height: 60px;
	}

	body .about a[href="https://github.com/Josafast/Calculator"] img{
		right: 0;
		left: 20px;
	}

	body .about p {order: 2;}

	body.dark-mode .about-button img {filter: invert(100%);}

	body .about-button img {
		filter: invert(45%);
		width: 35px;
		height: 35px;
	}

	.calculator {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		max-height: 100vh;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(7, 1fr);
	}

	.darkMode {
		background-color: transparent;
		color: grey;
		top: 0;
		left: 0;
		position: fixed;
		z-index: 2;
	}

	.darkMode img {
		filter: invert(45%);
		width: 35px;
		height: 35px;
	}

	body.dark-mode .darkMode {color: #fff;}
}